---
layout: workshop
root: .
venue:       FIXME    #(brief name of host site)
address:     FIXME    #(street address of home location)
country:     FIXME    #(country (hyphenated if need be, like 'United-Kingdom')
language:    FIXME    #(language code like 'en' or 'fr')
latlng:      FIXME    #(fractional latitude and longitude like 41.7901128,-87.6007318)
humandate:   FIXME    #(use the format 'Feb 17-18, 2020' (without the quotes)
humantime:   FIXME    #(use the format '9:00 am - 4:30 pm' (without the quotes)
startdate:   FIXME    #(use YYYY-MM-DD format like 2015-01-01)
enddate:     FIXME    #(use YYYY-MM-DD format like 2015-01-02)
instructor: [FIXME]   #(list of names like ["Kay McNulty", "Betty Jennings", "Betty Snyder"])
helper:     [FIXME]   #(list of names like ["Marlyn Wescoff", "Fran Bilas", "Ruth Lichterman"])
contact:     FIXME    #(contact email address for workshop organizer)
etherpad:    FIXME    #(insert the URL for your Etherpad if you're using one)
eventbrite:  FIXME    #(delete this if not used, otherwise uncomment and provide 1234567890AB key for Eventbrite registration)
day1_am: "Data organization in spreadsheets and OpenRefine"
day1_pm: "Introduction to R"
day2_am: "Data analysis and visualization in R"
day2_pm: "SQL for data management"
---
<!--
  HEADER

  Edit the values in the block above to be appropriate for your
  workshop.  Run 'tools/check' *before* committing to make sure that
  changes are good.
-->

<!--
  EVENTBRITE

  This block includes the Eventbrite registration widget if
  'eventbrite' has been set in the header.  You can delete it if you
  are not using Eventbrite, or leave it in, since it will not be
  displayed if the 'eventbrite' field in the header is not set.
-->
{% if page.eventbrite %}
<iframe
  src="https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt"
  frameborder="0"
  width="100%"
  height="206px"
  scrolling="auto">
</iframe>
{% endif %}

<h2>General Information</h2>

<!--
  INTRODUCTION

  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
<p>
<a href=http://datacarpentry.org>Data Carpentry</a> workshops are for any researcher 
who has data they want to analyze, and no prior computational experience is required. 
This hands-on workshop teaches basic concepts, skills and tools for working more 
effectively with data. 
</p>
<p>
We will cover {{page.day1_am}}, {{page.day1_pm}}, {{page.day2_am}} and {{page.day2_pm}}.

Participants should bring their laptops and plan to participate actively. By the end of the workshop learners should be able to more effectively manage and analyze data and be able to apply the tools and approaches directly to their ongoing research.
</p>

<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p>
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers.
</p>

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<!--
  SPECIAL REQUIREMENTS

  Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong> Participants must bring a laptop with
  a few specific software packages installed (listed
  <a href="#setup">below</a>). They are also required to abide by
  Data Carpentry's
  <a href="{{site.swc_site}}/conduct.html">Code of Conduct</a>.
</p>

<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<!--
  SCHEDULE

  Show the workshop's schedule.  Edit the items and times in the table
  to match your plans.  You may also want to change 'Day 1' and 'Day
  2' to be actual dates or days of the week.
-->
<h2>Preliminary Schedule</h2>

<div class="row">
  <div class="col-md-6">

    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td>  <td>{{page.day1_am}}</td> </tr>
       <tr> <td>Afternoon</td>  <td>{{page.day1_pm}}</td> </tr>
    </table>
 
 
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td>  <td>{{page.day2_am}}</td> </tr>
      <tr> <td>Afternoon</td>  <td>{{page.day2_pm}}</td> </tr>
    </table>
 </div>
</div>

<!--
  ETHERPAD

  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to

      http://etherpad.mozilla.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop (e.g.,
  '2015-06-10-esu'.
-->
{% if page.etherpad %}
<p>
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<hr/>

<!--
  SYLLABUS

  Show what topics will be covered.

  1. If your workshop is R rather than Python, remove the comment
     around that section and put a comment around the Python section.
  2. Some workshops will delete SQL.
  3. Please make sure the list of topics is synchronized with what you
     intend to teach.
  4. You may need to move the div's with class="col-md-6" around inside
     the div's with class="row" to balance the multi-column layout.

  This is one of the places where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->
<!--
<h2>Syllabus</h2>

<div class="row">
  <div class="col-md-6">
    <h3>The Unix Shell</h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things</li>
      <li><a href="{{site.swc_lessons}}/ref/01-shell.html">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Programming in Python</h3>
    <ul>
      <li>Using libraries</li>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Defensive programming</li>
      <li>Using Python from the command line</li>
      <li><a href="{{site.swc_lessons}}/ref/03-python.html">Reference...</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3>Programming in R</h3>
    <ul>
      <li>Working with vectors and data frames</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Using R from the command line</li>
      <li><a href="{{site.swc_lessons}}/ref/06-R.html">Reference...</a></li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <h3>Version Control with Git</h3>
    <ul>
      <li>Creating a repository</li>
      <li>Recording changes to files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing changes: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignoring files</li>
      <li>Working on the web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolving conflicts</li>
      <li>Open licenses</li>
      <li>Where to host work, and why</li>
      <li><a href="{{site.swc_lessons}}/ref/02-git.html">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Managing Data with SQL</h3>
    <ul>
      <li>Reading and sorting data</li>
      <li>Filtering with <code>where</code></li>
      <li>Calculating new values on the fly</li>
      <li>Handling missing values</li>
      <li>Combining values using aggregation</li>
      <li>Combining information from multiple tables using <code>join</code></li>
      <li>Creating, modifying, and deleting data</li>
      <li>Programming with databases</li>
      <li><a href="{{site.swc_lessons}}/ref/04-sql.html">Reference...</a></li>
    </ul>
  </div>
</div>


<hr/>
-->

<!--
  SETUP

  Delete irrelevant sections from the setup instructions.  Each
  section is inside a 'div' without any classes to make the beginning
  and end easier to find.

  This is the other place where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->

<h2 id="setup">Setup</h2>

<p>
To participate in a Data Carpentry workshop, you will need working copies of the 
described software. Please make sure to install everything (or at least to download 
the installers) before the start of your workshop. Participants should bring and use 
their own laptops to insure the proper setup of tools for an efficient workflow 
once you leave the workshop.
<p>
Please follow these <a href=install.html>Setup Instructions</a>

<p>
  We maintain a list of common issues that occur during installation as a reference for instructors
  that may be useful on the
  <a href = "https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions">Configuration Problems and Solutions wiki page</a>.
</p>

