<h3 id="mac">Mac</h3>
<p>
Please go through all the installation steps below and make sure that 
you not only installed them, but start them up to make sure they're working. 
If you have any problems, don't hesitate to email the instructors to 
ask for help, or arrive early on the first day of the workshop to 
get help.

<div class="row-fluid">
<ol>
<li><b>A spreadsheet program</b>
<br>For this workshop you will need a spreadsheet program. Many people already have 
Microsoft Excel installed, and if you do, you're set! 
<br>
If you need a spreadsheet 
program, there are a few other options, like OpenOffice and LibreOffice. Install 
instructions for LibreOffice, which is free and open source, are here.
       <ul>
          <li><b>Download the Installer</b>
        <br>Install LibreOffice by going to the <a href=https://www.libreoffice.org/download/libreoffice-fresh/>installation page</a>. The version for Mac 
should automatically be selected. Click <b>Download Version 4.4.2</b>. You 
will go to a page that asks about a donation, but you don't need to make one.
Your download should begin automatically. 
          <li><b>Install LibreOffice</b>
            <br>Once the installer is downloaded, double click on it and it should install.
<li>To use LibreOffice, double click on the icon and it will open.
</ul>

<p>

<li><b>Google Refine</b>
<br>Google Refine (previously OpenRefine) is a tool for data cleaning 
that runs through a web browser, and any browser -
Safari, Firefox, Chrome, Explorer - should work fine. 
You will need to download Google Refine and install it, 
and when you open it, it will run through the browser, but you don't need
an internet connection, and the data will all be stored on your computer.
<ul>
<li>Go to the OpenRefine <a href="http://openrefine.org/download.html">download 
page</a> 
<li>Click on <i>Mac kit</i> to download the install file
<li>Open the downloaded .dmg file
<li>Drag the icon in to the Applications folder
<li>Double click on the icon and Google Refine will then open in your web browser.
</ul>

<p>

<li><b>R</b>
<br>In the workshop, we will use RStudio. RStudio is a nice interface to the 
programming language R. To use RStudio, you need to install both R and RStudio.
<ul>
<li>Go to <a href=http://cran.r-project.org>CRAN</a> and click on <i>Download
R for (Mac) OS X</i>
<li>Select the .pkg file for the version of OS X that you have and the file
will download.
<li>Double click on the file that was downloaded and R will install
<li>Go to the <a href="http://www.rstudio.com/ide/download/desktop">RStudio Download page</a>
<li>Under <i>Installers</i> select <b>RStudio 0.98.1103 - Mac OS X 10.6+ (64-bit)</b> to download it.
<li>Once it's downloaded, double click the file to install it
<li>Once it's installed, open RStudio to make sure it works and you don't get any error messages.
</ul>

<p>

<li><b>SQLite</b>
<br>
For this workshop we're going to use the Firefox SQLite Plugin. It works through
the web browser Firefox. 
<ul>
<li>If you don't already have Firefox installed <a href=https://www.mozilla.org/en-US/firefox/new/>install Firefox</a>
<li>Start Firefox      
<li>Go to the <a href="https://addons.mozilla.org/en-US/firefox/addon/sqlite-manager/">plugin homepage</a>.
<li> Click the "Add Now" button.
<li> Click "Install Now" on the dialog that appears after the download completes.
<li> Restart Firefox when prompted.
<li> Select "SQLite Manager" from the "Tools" menu and it will open within Firefox
</ul>
</ol>

</div>

 
